@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfcfd;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* @layer components {
  .step-completed::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #5261ab;
    top: 50%;
    transform: translateY(-50%);
  }

  .step-pending::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #a1aebe;
    top: 50%;
    transform: translateY(-50%);
  }
} */
